
.categories_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--size-middle);
}


@media screen and (max-width: 1439px) {
  .categories_container {
    gap: var(--size-small-plus);
  }
}

@media screen and (max-width: 999px) {
  .categories_container{
    grid-template-columns: repeat(2, 1fr);
  } 
}

@media screen and (max-width: 420px) {
  .categories_container {
     grid-template-columns: 1fr;
  }
} 

