.form_block {
  position: relative;
  background: linear-gradient(37deg, #87933d 0%, #55610b 100%);
  border-radius: var(--radius-big);
  padding: 32px;
  color: #ffffff;
  text-align: center;
  overflow: hidden;
}

.form_wrapper {
  display: flex;
  justify-content: end;
  align-items: flex-end
}

.form_block form {
  width: 516px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 80px;
  margin-left: auto;
  flex-shrink: 0;
}

.form_block input {
  border-radius: var(--radius-small);
  border: solid 1px var(--color-background);
  background: transparent;
  padding: 16px 32px;
  color: var(--color-background);
  font-size: 20px;
}

.form_block input::placeholder {
  color: var(--color-background);
}

.form_block form button {
  background: var(--color-background);
  border: none;
  border-radius: var(--radius-small);
  padding: 16px 32px;
  font-size: 20px;
}

.form_block  img {
  height: 360px;
  margin-bottom: -32px;
}

@media screen and (max-width: 1439px) {
  .form_block form {
    width: 450px;
    margin-top: 25px;
  }

  .form_block  img {
    height: 310px;
  }
}

@media screen and (max-width: 999px) {
  .form_block form {
    width: 335px;
  }
  .form_block {
    padding: 20px;
  }
}

@media screen and (max-width: 767px) {
  .form_wrapper {
    flex-direction: column-reverse;
  }

  .form_block form {
    width: 100%;
  }

  .form_block  img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .form_block input, form button {
    font-size: 18px;
  }
}