.text{
    margin: 30px 0px;
}

.all_categories_container{
   display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--size-middle);
}

@media screen and (max-width: 1439px) {
  .all_categories_container {
    gap: var(--size-small-plus);
     grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 999px) {
  .all_categories_container{
    grid-template-columns: repeat(2, 1fr);
  } 
}
 

@media screen and (max-width: 420px) {
  .all_categories_container {
     grid-template-columns: 1fr;
  }
} 

