p{
color: var(--color-text);
}

.filters {
  margin: var(--size-middle-plus) 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-middle-plus);
  align-items: center;
}

.filters input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  cursor: pointer;
}

.checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: var(--radius-small);
  background-color: #ffffff;
}

.filters input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.custom_checkbox::after {
  content: "";
  position: relative;
  display: none;
  width: 18px;
  height: 18px;
  background: var(--color-accent);
  border-radius: 4px;
}

input[type="checkbox"]:checked + .custom_checkbox::after {
  display: block;
}

.filters input, .select_wrapper select {
  width: 112px;
  height: 36px;
  padding-left: 16px;
  border-radius: var(--radius-small);
  border: solid 1px var(--color-light-devider);
  cursor: pointer;
}

.inputs, .select_wrapper {
  display: flex;
  gap: var(--size-small);
  align-items: center;
}

.select_wrapper select {
  width: 200px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('../../assets/iconComponents/dropdown-arrow.svg');
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}

@media screen and (max-width: 1439px) {
  .filters {
    margin: var(--size-middle) 0;
  }
}

@media screen and (max-width: 768px) {
  .filters {
    margin: 24px 0;
    gap: var(--size-small);
    font-size: 18px;
  }

  .inputs, .select_wrapper {
    gap: 12px;
  }
}