.container {
  display: flex;
  gap: var(--size-middle);
  margin: var(--size-middle-plus) 0;
}

.heading {
  flex-shrink: 0;
  color: var(--color-text);
}

.button_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.button {
  color: var(--color-text-grey);
  font-size: 16px;
  padding: 8px var(--size-small);
  border: solid 1px var(--color-text-grey);
  border-radius: var(--radius-small);
  flex-shrink: 0;
}

.line {
  height: 1px;
  width: 100%;
  background: var(--color-text-grey);
}

.container_liked__product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--size-middle);
  
}


@media screen and (max-width: 1439px) {
  .container_liked__product {
    gap: var(--size-small-plus);
  }
}

@media screen and (max-width: 999px) {
  .container_liked__product {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 479px) {
  .container_liked__product {
    grid-template-columns: 1fr;
  }
}