.top_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-middle);
  padding: 10px 0;
  margin-bottom: var(--size-middle-plus);
}

.top_container h2 {
  padding-top: 30px;
}

.container_line {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.link {
  color: var(--color-text-grey);
  font-size: 16px;
  padding: 8px var(--size-small);
  border: solid 1px var(--color-text-grey);
  border-radius: var(--radius-small);
  flex-shrink: 0;
  margin-top: 32px;
}

.link.mobile {
  display: none;
}

.line {
  height: 1px;
  width: 100%;
  background: #dddddd;
  margin-top: 40px;
}

.link:hover {
  color: var(--color-accent);
}

@media screen and (max-width: 767px) {
  .link {
    font-size: 14px;
    margin-top: 30px;
  }

  .top_container h2 {
    font-size: 40px;
     padding-top: 35px;
  }
  
}

@media screen and (max-width: 520px) {
  .container_line {
    display: none;
  }

  .link.mobile {
    display: block;
      width: 105px;
    margin: 24px auto 0;
    text-align: center;
  }
}
