.container {
  max-width: 1360px;
  height: 540px;
}

.top_container {
  display: flex;
  
}

.top_container h2 {
  padding: 38px 30px 20px 0;
}

.container_line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  height: 1px;
  width: 100px;
  background: #dddddd;
  margin-top: 40px;
}

.container_all__categories {
  margin-top: 40px;
  font-size: 16px;
  padding: 10px 10px;
  border: solid 1px #dddddd;
  border-radius: var(--radius-small);
}

.link:hover {
  color: var(--color-accent);
}

/* 
@media screen and (max-width: 1439px) {

  .container{
    width: 1200px;
  }

  .top_container h2{
    padding: 30px 28px 17px 0;
  }
  

} */

@media screen and (max-width: 999px) {
  .container {
    width: 960px;
    height: 420px;
  }

  .categories_container {
    width: 960px;
    height: 318px;
  }
}
