footer > h2{
  color: var(--color-text);
}

address {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: var(--size-middle);
  margin: var(--size-middle-plus) 0 var(--size-middle) 0;
  font-style: normal;
}
address>div {
  display: flex;
  flex-direction: column;
  gap: var(--size-small);
  padding: var(--size-middle);
  background-color: var(--color-light-grey);
  border-radius: var(--radius-big);
  font-style: normal;
}

address>div>p:first-child{
  color: var(--color-text-grey);
}

.heading {
  font-size: 40px;
  font-weight: 600;
   color: var(--color-text);
}

.map {
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: var(--radius-big);
  margin-bottom: var(--size-big );
}

.map>iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.icons {
  display: flex;
  gap: var(--size-small);
}

@media screen and (max-width: 1439px) {
  address {
    grid-template-columns: 1fr 1fr;
    gap: var(--size-small-plus);
    margin-bottom: var(--size-small-plus)
  }

  .map {
    height: 250px;
    margin: 60px;
  }
}

@media screen and (max-width: 999px) {
  address {
    grid-template-columns: 2fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  address {
    grid-template-columns: 1fr;
    gap: 12px;
    margin-bottom: 12px;
  }

  address>div {
    padding: 24px 20px;
  }

  .heading {
    font-size: 28px;
    line-height: 31px;
  }

  address>div>p:first-child{
    font-size: 18px;
    line-height: 23.4px;
  }
}

