@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-text);
   background-color: gray;
}

h1, h2 {
  font-weight: 700;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

:root {
  --color-accent: #339933;
  --color-background: #ffffff;
  --color-devider: #DDDDDD;
  --color-light-grey: #F1F3F4;

  --color-text: #282828;
  --color-text-grey: #8B8B8B;

  --radius-small: 6px;
  --radius-big: 12px;

  --size-small: 16px;
  --size-middle: 32px;
  --size-big: 80px;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 var(--size-middle-plus);
  
}