@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-text);
}

h1, h2 {
  font-weight: 700;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

img {
  display: block;
}

:root {
  color-scheme: light;
  --color-accent: #92A134;
  --color-background: #fffff1;
  --color-devider: #FFFFF1;
  --color-light-grey: #F2F6D3;
  --color-light-devider: #DDDDDD;
  --color-text: #424436;
  --color-text-grey: #8B8B8B;
  --color-discount: #F26D22;
  --color-card-bg: #ffffff;

  --radius-small: 6px;
  --radius-big: 12px;

  --size-small: 16px;
  --size-small-plus: 20px;
  --size-middle: 32px;
  --size-middle-plus: 40px;
  --size-big: 80px;
}

[data-theme='dark'] {
  color-scheme: dark;
  --color-accent: #92A134;
  --color-background: #303030;
  --color-devider: #efefe9;
  --color-light-grey: #202020;
  --color-light-devider: #f1f1e4;
  --color-text: #ecece0;
  --color-text-grey: #a3a3a3;
  --color-discount: #F26D22;
  --color-card-bg: #202020;
}

.app{
  background-color: var(--color-background);
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 var(--size-middle-plus);
   
}

.section {
  margin-bottom: var(--size-big);
}

@media screen and (max-width: 999px) {
  .container {
    padding: 0 var(--size-small-plus);
  }
  
  .section {
    margin-bottom: 60px;
  }

  h2 {
    font-size: 56px;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 48px;
  }
}

@media screen and (max-width: 479px) {
  h2 {
    font-size: 40px;
  }
}
