.container {
  /* removes scrolling on a background-image */
  display: flex;

  background-image: linear-gradient(rgb(61, 61, 61, 0.5), rgb(61, 61, 61, 0.3)),
    url("../../assets/images/baner_images.jpg");
  background-size: cover;
  background-position: center bottom;
  height: 600px;
}

.context_container {
  padding: 30px 20px 0 0;
  max-width: 1360px;
  margin-left: 30px;
}

.text_amazing__discounts {
  margin-top: 80px;
  line-height: 105px;
  color: var(--color-devider);
}

.button_check {
  margin-top: 40px;
  height: 58px;
  width: 218px;
  background: var(--color-accent);
  color: var(--color-devider);
  padding: 16px, 56px, 16px, 56px;
  border: none;
  border-radius: var(--radius-small);
  font-size: 20px;
}

.button_check:hover {
  cursor: pointer;
  background-color: #afc905;
}

@media screen and (max-width: 1439px) {
  .container {
    padding: 0 var(--size-small-plus);
  }

  .context_container {
    max-width: 960px;
  }

  .text_amazing__discounts {
   
    line-height: 90px;
    font-size: 80px;
  }

  .button_check {
    margin-top: 80px;
    padding: 16px, 56px, 16px, 56px;
    font-size: 20px;
  }
}

@media screen and (max-width: 999px) {
  .container {
    padding: 0 var(--size-small-plus);
    height: 634px;
  }

  .context_container {
    max-width: 728px;
    margin-top: 20px;
  }

  .text_amazing__discounts {
     margin-top: 0px;
    line-height: 74px;
    margin-bottom: 50px;
  }

  .button_check {
    font-size: 20px;
  }
}

@media screen and (max-width: 769px) {
  .container {
    padding: 0 var(--size-small-plus);
    height: 600px;
  }

  .context_container {
    max-width: 425px;
    padding: 30px 10px 0 0;
    margin-left: 10px;
  }

  .text_amazing__discounts {
    line-height: 66px;
    font-size: 60px;
  }

  .button_check {
    margin-top: 20px;
  }
}

@media screen and (max-width: 479px) {
  .text_amazing__discounts {
    font-size: 48px;
    line-height: 57px;
  }

  .context_container {
    max-width: 600px;
    padding: 20px 5px 0 0;
    margin: 20px 5px 0 0;
  }

  .button_check {
    margin-top: 10px;
  }
}

@media screen and (max-width: 370px) {
  .text_amazing__discounts {
    font-size: 40px;
    line-height: 57px;
  }

  .context_container {
    padding: 20px 0 5px 0;
    margin-left: 0;
  }

  .button_check {
    font-size: 20px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 320px) {
  .text_amazing__discounts {
    font-size: 40px;
    line-height: 57px;
  }

  .context_container {
    padding: 20px 0 0 0;
    margin-left: -8px;
  }

  .button_check {
    font-size: 20px;
    margin-top: 10px;
    margin-left: -8px;
  }
}
